    <h2>Cart</h2>
<section>
    <article class="cardcontainer" id="{{cartId}}">
        {{#each products}}
        <div class="cartCard">
            <div>{{name}}</div>
            <div>Price : {{price}}</div>
           
            <div>
            <span><label for="quantity">Cantidad :</label> <input type="number" name="{{id}}" value="{{quantity}}" ></span>
            <span><button class="erase" name="{{@index}}">Borrar</button></span>
            </div>
        </div>
        {{/each}}
        <div>Precio Total sin impuestos:{{priceWithoutTaxes}}</div>
        <div>Precio Total :{{priceWithTaxes}}</div>
        <span class="cartButtonsContainer">
        <button class="updateButton">Update Cart</button>
        <button class="deleteButton">Delete Cart</button>
        <button class="orderButton">Order</button>
        </span>
    </article>
</section>
<script src="/cart.js"></script>