<h2>Server Configuration</h2>

<section>
    <article class="config">
        <span>
            <h4>MODE :</h4>{{ENV_NODE}}
        </span>
        <span>
            <h4>PORT :</h4>{{PORT}}
        </span>
        <span>
            <h4>LOG DIRECTORY :</h4>{{LOG_DIRECTORY}}
        </span>
        <span>
            <h4>DATABASE URL :</h4>{{DATABASE_URL}}
        </span>
        <span>
            <h4>MAIL USER :</h4>{{MAIL_USER}}
        </span>
        <span>
            <h4>MAIL PASSWORD :</h4>{{MAIL_PASS}}
        </span>
        <span>
            <h4>ADMINISTRATOR MAIL :</h4>{{MAIL_ADMIN}}
        </span>
        <span>
            <h4>TOKEN EXPIRATION TIME :</h4>{{JWT_TIMEOUT}}
        </span>
        <span>
            <h4>SESSION TIMEOUT :</h4>{{SESSION_TIMEOUT}}
        </span>
    </article>
</section>