<nav>
    <a href="/logout">Logout</a>
    <a href="/viewProducts">Ver Productos</a>
    <a href="/addProduct">Agregar Productos</a>

    <a href="/viewCart">Ver Carrito</a>
    <a href="/viewProfile">Ver Perfil</a>
</nav>
<main>
    <div class="card">
  <img src="{{avatar}}" alt="Avatar">
  <div class="card-body">
    <h4 class="card-title">{{nombre}} {{apellido}}</h4>
    <p class="card-text"><strong>Edad:</strong> {{edad}}</p>
    <p class="card-text"><strong>Email:</strong> {{username}}</p>
    <p class="card-text"><strong>Telefono:</strong> {{phone}}</p>
    <p class="card-text"><strong>Direccion:</strong> {{adress}}</p>
  </div>
</div>

</main>