
<div class="container">
  {{#each products}}
  <form class="card" action="/products/{{id}}" method="get">
    <button class="cardButton">
      <div class="card-header">
        <h2>{{name}}</h2>
        <span class="price">${{price}}</span>
      </div>
      <img src="{{url}}" alt="{{name}}" style="height: 150px;" />

      <div class="card-body">
        <p>{{description}}</p>
      </div>
      <div class="card-footer">
        <span class="rate">Rate {{rate}}/5</span>
        <span class="rate">stock:{{stock}}</span>
        <span class="rate">Categoria: {{category}}</span>
      </div>
    </button>
  </form>
  {{/each}}
</div>